.jogador{
	position:absolute;
	width:3px;
	height:150px;
	top:250px;
	border: 3px solid #000;
	background-color: black;
}



#fundo{
	width:800px;
	height:600px;
	border: 3px solid #000;
}

#bola{
	position:absolute;
	top:295px;
	left:395px;
	width:20px;
	height:20px;
	background-color:#009;
}

#placar{
	position: relative;	
	width: 800px;
	height: 30px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 4px
}

#player1{
	position: fixed;
	width: 50px;
	height: 30px;
	border: 2px solid #000;
	align-content: center;
}

#player2{
	position: fixed;
	left: 755px;	 
	width: 50px;
	height: 30px;
	border: 2px solid #000;
	align-content: center;
}

#linha{
	position: absolute;
	top:0px;
	left:400px;
	width:0px;
	height:599px;
	border: 2px dashed #000;
}

