.jogador{
	position:absolute;
	width:3px;
	height:150px;
	top:250px;
	border: 3px solid #000;
	background-color: black;
}

#fundo{		
	width:800px;
	height:600px;
	border: 3px solid #000;
}

#bola{
	position:absolute;
	top:295px;
	left:395px;
	width:20px;
	height:20px;
	background-color:#009;
}